useDynLib(Streamer, .registration=TRUE)

import(methods)

exportPattern("^[^\\.]")

exportClasses(Streamer, Producer, Consumer, Stream,
              ConnectionProducer, NetCDFProducer, RawInput,
              Downsample, RawToChar, Rev)
