useDynLib(Streamer, .registration=TRUE)

import(methods)

importFrom(BiocGenerics, lapply, sapply)

## only exported on unix
## importFrom(parallel, mccollect, mcparallel)

importFrom(graph, graphBAM)

importMethodsFrom(graph, degree)

exportPattern("^[^\\.]")

exportMethods(lapply, sapply)

exportClasses(Streamer,
              Producer, RawInput, Seq, 
              Consumer, RawToChar, Rev, Team, Downsample,
              Stream, ConnectionProducer, ParallelConnector,
              TConnector, YConnector)
